body {
  background-color: $body-background;
  color: $content-background;
  font-family: 'Roboto', sans-serif;
  width: 960px;
}

header, nav, section, aside, footer {
  background-color: $content-background;
  color: $body-background;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

section {
  float: left;
  width: 70%;
  margin-bottom: 15px;
  height: 300px;
}
aside {
  float: right;
  width: 25%;
  height: 300px;
}

footer {
  clear: both;
}
article {
  background-color: $body-background;
  color: $content-background;
  padding: 15px;
  h1, h2, h3 {
    display: inline-block;
    font-size: 20px;
  }
  div, p{
    background-color: $content-background;
    color: $body-background;
    padding: 15px;
    margin-top: 15px;
  }
}
